<div id="content">
    <div class="container">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a href="/">Home</a>
                </li>
                <li>Contato</li>
            </ul>
        </div>
        <div class="col-md-12">
            <div class="box" id="contact">
                <h1>Contato</h1>
                <p class="lead">Elisson Francisco da Silva</p>
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        <h3><i class="fa fa-map-marker"></i> Endereço</h3>
                        <p>R. Charles Diamond, 110
                            <br>Jd. Copacabana
                            <br>São José dos Campos
                            <br>São Paulo
                            <br>
                            <strong>Brasil</strong>
                        </p>
                    </div>
                    <!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <h3><i class="fa fa-phone"></i> Celular</h3>
                        <p><strong>+12 99747 7873</strong>
                        </p>
                    </div>
                    <!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <h3><i class="fa fa-envelope"></i> Email</h3>
                        <ul>
                            <li><strong><a href="mailto:">elissonfs@gmail.com</a></strong>
                            </li>
                        </ul>
                    </div>
                    <!-- /.col-sm-4 -->
                </div>
                <!-- /.row -->
                <hr>
            </div>
        </div>
        <!-- /.col-md-9 -->
    </div>
    <!-- /.container -->
</div>